#!/bin/sh

# don't let folks assume this script is one-size-fits-all
echo "This script is just an example and is not ready to run as is.  Copy it,"
echo "edit it to suit your system and remove the echos and exit line at the top."
echo
echo "Important things to customize for local use are the FLAGS and BUNDLEDIR"
echo "variables.  You may also pass the path to the top-level XyceBundle directory"
echo "as the first argument to this script instead of editing it."
echo "It is essential to set the CMAKE_C_COMPILER, CMAKE_CXX_COMPILER, and "
echo "CMAKE_Fortran_COMPILER variables for your system." 
echo
echo "You must also customize the paths for AMD_LIBRARY_DIRS and TPL_AMD_INCLUDE_DIRS."
exit 1

# Generic flags to build a library that can be used either in a static or
# shared executable
FLAGS="-O3 -fPIC"

#This script is assuming that the first argument is the top level directory
# if given, or that XyceBundle lives in the home directory.  Edit as needed.
if [ $# -ge 1 ]
then
  BUNDLEDIR=$1
else
  BUNDLEDIR=$HOME/XyceBundle
fi

SRCDIR=$BUNDLEDIR/trilinos
ARCHDIR=$BUNDLEDIR/XyceLibs/`uname`_serial

cmake \
\
-G "Unix Makefiles" \
\
-DCMAKE_C_COMPILER=cc \
-DCMAKE_CXX_COMPILER=c++ \
-DCMAKE_Fortran_COMPILER=gfortran9 \
\
-DCMAKE_CXX_FLAGS="$FLAGS" \
-DCMAKE_C_FLAGS="$FLAGS" \
-DCMAKE_Fortran_FLAGS="$FLAGS" \
-DCMAKE_INSTALL_PREFIX=$ARCHDIR \
-DCMAKE_MAKE_PROGRAM="make" \
\
-DTrilinos_ENABLE_NOX=ON \
-DTrilinos_ENABLE_LOCA=ON \
-DTrilinos_ENABLE_EpetraExt=ON \
-DEpetraExt_BUILD_BTF=ON \
-DEpetraExt_BUILD_EXPERIMENTAL=ON \
-DEpetraExt_BUILD_GRAPH_REORDERINGS=ON \
-DTrilinos_ENABLE_TrilinosCouplings=ON \
-DTrilinos_ENABLE_Ifpack=ON \
-DTrilinos_ENABLE_AztecOO=ON \
-DTrilinos_ENABLE_Belos=ON \
-DTrilinos_ENABLE_Teuchos=ON \
  -DTeuchos_ENABLE_COMPLEX=ON \
-DTrilinos_ENABLE_Amesos=ON \
  -DAmesos_ENABLE_KLU=ON \
-DTrilinos_ENABLE_Amesos2=ON \
  -DAmesos2_ENABLE_KLU2=ON \
  -DAmesos2_ENABLE_Basker=ON \
-DTrilinos_ENABLE_Sacado=ON \
-DTrilinos_ENABLE_Kokkos=ON \
-DTrilinos_ENABLE_Stokhos=ON \
-DTrilinos_ENABLE_CXX11=ON \
-DTrilinos_ENABLE_ALL_OPTIONAL_PACKAGES=OFF \
\
-DTPL_ENABLE_AMD=ON \
-DAMD_LIBRARY_DIRS="/usr/local/lib" \
-DTPL_AMD_INCLUDE_DIRS="/usr/local/include/suitesparse" \
-DTPL_ENABLE_BLAS=ON \
-DTPL_ENABLE_LAPACK=ON \
$SRCDIR
